<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include partials/header %>
  </header>

  <main>
    <h1>ToDos</h1>
    <p>Welcome to the ToDos app</p>
  </main>

  <footer>
    <% include partials/footer %>
  </footer>

</body>
</html>
